@font: 'Open-Sans', sans-serif;
@bg-color-primary: #2b364a;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eef4fb;
  font-family: @font;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-ctn {
  width: 100%;
  height: 100vh;
  display: flex;
}

.anim_fade-in {
  animation: 1s ease-in fadeIn;
  -webkit-animation: 1s ease-in 1s ease-in fadeIn;
  -moz-animation: 1s ease-in 1s ease-in fadeIn;
  -o-animation: 1s ease-in 1s ease-in fadeIn;
}
.main_nav {
  width: 250px;
  height: 1000px;
  border-radius: 15px;
  margin: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  -moz-box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  .anim_fade-in();
  nav {
    margin-top: 300px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
.nav_menu_link {
  height: 65px;
  width: 250px;
  margin-bottom: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 28px;

  p {
    margin-left: 15px;
    font-size: 18px;
  }

  &:hover {
    background-color: #f2f2f2;
    border-right: 7px solid #00ccbb;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: black;
}

//  css for table
.anim-table {
  animation: 0.7s cubic-bezier(0, 0, 0.6, 0.77) slideInFromRight;
  -webkit-animation: 0.7s ease-in 0.7s cubic-bezier(0, 0, 0.6, 0.77)
    slideInFromRight;
  -moz-animation: 0.7s ease-in 0.7s cubic-bezier(0, 0, 0.6, 0.77)
    slideInFromRight;
  -o-animation: 0.7s ease-in 0.7s cubic-bezier(0, 0, 0.6, 0.77) slideInFromRight;
}
.react-table {
  width: 80%;
  margin: 0 30px;
  border-radius: 5px;
  display: inline-table;
  color: @bg-color-primary;
  text-align: center;
  .anim-table();
  th {
    text-align: center;
    background-color: #58b2f3;
    color: white;
  }

  tr {
    padding: 15px;
    background-color: #f5f7fa;
    transition: all 0.5s ease 0s;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  tr:hover {
    background-color: #f2f4ff;
    border-radius: 2.5px;
    cursor: context-menu;
  }
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #edeef2;
  padding: 10px;
}

.app_form {
  position: absolute;
  width: 1400px;
  height: 400px;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  -moz-box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  box-shadow: 0px 22px 50px rgba(153, 153, 153, 0.7);
  .anim_fade-in();
}

.app_form-first-row {
  height: 100px;
  display: flex;
}

.app_form-second-row {
  display: flex;
  margin-top: 35px;
}

input[type='text'],
select {
  display: inline-block;
  height: 40px;
  width: 180px;
  padding: 5px 10px;
  background-color: #fcfdfe;
  border: 1px solid #edeef2;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

label {
  margin: 0 15px;
}

textarea {
  width: 400px;
  height: 80px;
  padding: 7px 10px;
  box-sizing: border-box;
  background-color: #fcfdfe;
  border: 1px solid #edeef2;
  border-radius: 4px;
  font-size: 14px;
}

.form_btn-ctn {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 180px;
}

#close-form {
  background-color: #fdb4b4;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-form {
  background-color: #696cff;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.anim-view-ctn {
  animation: 0.5s cubic-bezier(0, 0, 0.6, 0.77) slideInFromRight;
  -webkit-animation: 0.5s ease-in 0.5s cubic-bezier(0, 0, 0.6, 0.77)
    slideInFromRight;
  -moz-animation: 0.5s ease-in 0.5s cubic-bezier(0, 0, 0.6, 0.77)
    slideInFromRight;
  -o-animation: 0.5s ease-in 0.5s cubic-bezier(0, 0, 0.6, 0.77) slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translatex(100%);
  }

  100% {
    transform: translatex(0);
  }
}

._view_btn-ctn {
  width: 80vw;
  height: 300px;
  background-color: white;
  margin: 50px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .anim-view-ctn();
}

.btn-icn {
  margin: 0px 10px;
}

.btn-action {
  width: 300px;
  height: 100px;
  border: 2px solid #eef4fb;
  border-radius: 10px;
  background-color: white;
  margin: 0px 25px;
  font-weight: bold;
  .anim-table();
  .flex-center();
  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 24px #c6c8c5;
    -webkit-box-shadow: 0px 10px 24px #c6c8c5;
    -moz-box-shadow: 0px 10px 24px #c6c8c5;
  }
}

._view-table-ctn {
  width: 80vw;
  height: 730px;
  background-color: white;
  border-radius: 15px;
  .anim-view-ctn();
}

.search_job-ctn {
  width: 300px;
  margin: 30px;
  border-radius: 15px;
}
